***Strings***

 - A string is a sequence of characters
 - Its uses quotes 'Hello'or "Hello"
 - For strings, + means concatenate
 - When a string contains numbers, it is still a string
 - We can convert numbers in a string into a number using int()

In [1]:
# Examples
str1 = 'Hello'
str2 = 'there'
bob = str1 + str2
print(bob)

Hellothere

In [2]:
str3 = '123'
x = int(str3) + 1
print(x)

124

Reading and converting data

Raw input numbers must be converted from strings

In [3]:
name = input('Enter:')

Enter: Chuck

In [4]:
print(name)

Chuck

In [5]:
apple = input('Enter:')

Enter: 100

In [6]:
x = int(apple) - 10
print(x)

90

Looking inside strings

We can get any single character in a string using an index specified in Square brackets. 
The index value must be an integer and starts at zero. 
The Index value can be an expression that is computed.

In [8]:
# Examples
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [10]:
x = 3
w = fruit[x - 1]
print(w)

n

In [11]:
# you will get a python error if you attempt to index beyond the end of a string.
# Ex: zot = 'abc'
#     print(zot[5])

In [12]:
# Strings have length. The built-in function 'len' gives us the length of a string,
# Len function: is some stored code that we use. A funcion takes some input and prduces an output.

In [13]:
fruit = 'banana'
print(len(fruit))

6

In [14]:
fruit = 'banana'
x = len(fruit)
print(x)

6

Looping through strings

Using a while statement and an iteration variable, and the len function, we can construct a loop to look at each of the letters in a string individually.

In [15]:
fruit = 'banana'
index = 0
while index <len(fruit):
    letter = fruit[index]
    print (index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

A definite loop using a for statement is much more elegant.
The iteration variable is completely taken care of by the for loop.

In [16]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [17]:
index = 0
while index <len(fruit):
    letter = fruit[index]
    print (letter)
    index = index + 1

b
a
n
a
n
a

In [18]:
# Although the above codes are equivalent, the less code, the less chances for mistakes.

Looping and Counting

This is a simple loop that loops through each letter in a string and counts the number of times the loop encounters the 'a'charcter.

In [19]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
        print(count)

1
2
3

Looking deeper into 'in'

The iteration variable 'iterates'through the sequence.
The body of code is executed for each value in the sequence.
The iteration variable moves through all of the values in the sequence.

In [20]:
for letter in 'banana': #each letter in banana
    print(letter)

b
a
n
a
n
a

**Intermediate strings**

Slicing strings:

We can look at any continuous sectio of the a string using a colon operator
The second number is one beyond the end of the slice - up to but not including
I the second number is beyond the end of the string, it stops at the end.

In [5]:
# Given a set of letter 'Monty Python' and the index per letter as 0,1,2,3,4,5,6,7,8,9,10,11
# Note that the space in between also has an index number '5'
s = 'Monty Python'
print(s[0:4]) # read as s sub 0 through 4 i.e upto but not including 4

Mont

In [2]:
print(s[6:7])

P

In [3]:
print(s[6:20]) # python will ignore the numbers after 11 because the letter set isnt up to 20

Python

If we leave off the first or last number of the slice, it is assumed to be the beginning or the end of the string respectively

In [6]:
s = 'Monty Python'
print(s[:2]) 
# this assumes the beggining of the string

Mo

In [7]:
print(s[8:]) # this assumes the end of the string

thon

In [8]:
print(s[:]) # here, no index is specified. Python will return the entire set of letters

Monty Python

**String Concatenation**

When the + operator is applied to strings, ut means 'concatenation'

In [9]:
a = 'Hello'
b = a + 'There'
print(b)

HelloThere

In [11]:
c = a + ' ' + 'There'
print(c)
# the space has to be concatenated separately with the ' ' sign

Hello There

Using 'In' as a logical operator

The 'in' keyword can also be used to check to see if one string is 'in' another string.
The 'in'expression is a logical expression that returns True or False and can be in and if statement.

In [12]:
fruit = 'banana'
'n' in fruit

True

In [15]:
'm'in fruit

False

In [13]:
'nan'in fruit

True

In [14]:
if 'a'in fruit :
    print ('Found it')

Found it

String Comparison

In [17]:
word = 'banana'
print(word)

banana

In [18]:
if word == 'banana':
    print('All right, bananas')

All right, bananas

In [19]:
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.

String Library

Python has a number of string functons which are in the string library.
These functions are already built in every string - we invoke them by appending the function to the string variable.
These functions do not modify the original string, instead they return a new string that has been altered.

In [20]:
greet = 'Hello Bob'
zap = greet.lower() # this tells the string to make a lower version of itself
print(zap)

hello bob

In [21]:
print(greet)

Hello Bob

In [22]:
print('Hi There'.lower())

hi there

In [23]:
stuff = 'Hello world'
type(stuff)

str

String Library

Str.capitalize()
str.center()
str.endswith()
str.find()
str.lstrip()
str.replace()
str.lower()
str.rstrip()
str.upper()

**Searching a string**

In [ ]:
# We use the find() function to search for a substring within another string.
# find() finds the first occurence of the substring
# Remember that string position starts at zero

In [25]:
fruit = 'banana'
pos = fruit.find('na')
print(pos)
# this gives back the position of the first 'na'

2

In [26]:
aa = fruit.find('z') 
print(aa)
# if the substring is not found, find() returns -1

-1

**Making everthing UPPER CASE**

You can make a copy of a string in lower or upper case.

Often, when we search for a string using find(), we first convert the string to lower case so we can search a string regardless of case.

In [27]:
greet = 'Hello Bob'
nnn = greet.upper()
print(nnn)

HELLO BOB

In [28]:
www = greet.lower()
print(www)

hello bob

**Search and Replace**

The replace() function is like a 'search and replace' operation in a word processor.

It replaces all occurences of the search string with the replacement string.

In [29]:
greet = 'Hello Bob'
nstr = greet.replace('Bob', 'Jane')
print(nstr)
# this replaces Bob with Jane

Hello Jane

In [30]:
nstr = greet.replace('o', 'x')
print(nstr)

Hellx Bxb

**Stripping Whitespace**

Sometimes we want to take a string and remove whitespace ath the beginning and/or end.

lstrip() and rstrip() remove whitespace at the left or right.

strip() removes both beginning and ending whitespace.

In [5]:
greet = ' Hello Bob ' # here, there are spaces before and after Hello Bob.
greet.lstrip() # removes the space at the beggining(i.e to the left)

'Hello Bob '

In [6]:
greet.rstrip() # removes the space at the end(i.e to the right)

' Hello Bob'

In [7]:
greet.strip() # removes the spaces at the beginning and end.

'Hello Bob'

**Prefixes**

In [8]:
line = 'Please have a nice day'
line.startswith('Please')

True

In [9]:
line.startswith('p') # lower case p

False

**Parsing and Extracting**

In [11]:
data = 'From stephen.marqaurd@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@') # find the position of the @ sign
 print(atpos)

21

In [12]:
sppos = data.find(' ', atpos) # look for the next space starting from the postion of the @ sign and after the @ sign
print(sppos)

31

In [13]:
host = data[atpos + 1 : sppos] # upto but not including the space
print(host)

uct.ac.za

***Python Lists***

Programming

Algorithms: A set of rules or steps used to solve a problem.

Data Structure: A particular way of organizing data in a computer.

What is not a 'Collection'

Most of our variables have one value in them - when we put a new value in the variable, the old value is overwritten.

In [16]:
# x = variable, 2 and 4 = assignment statements
x = 2
x = 4
print(x)

4

A list is a kind of collection.

A collection allows us to put many values in a single 'Variable'.

A collection is nice because we can carry all many values around in one convenient package.

In [ ]:
# the square brackets[] symbolize a list.
friends = ['Joseph', 'Glenn', 'Sally']
carryon = ['socks', 'shirt', 'perfume']

*List Constants*

List constants are surrounded by square brackets and the elements in the list are separated by commas.

A list element can be any python object - even another list.

A list can be empty

In [17]:
# integers do not have to be in quotes
print([1, 24, 76])

[1, 24, 76]

In [18]:
print(['red', 'yellow', 'blue'])

['red', 'yellow', 'blue']

In [19]:
print(['red', 24, 98.6])

['red', 24, 98.6]

In [20]:
print([1, [5, 6], 7])

[1, [5, 6], 7]

In [21]:
print([])

[]

In [22]:
# We already use lists!
for i in [5, 4, 3, 2, 1]:
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

List and definite loops - best pals

In [23]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends: # friend is our iteration variable while friends is our list variable
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [24]:
z = ['Joseph', 'Glenn', 'Sally']
for x in z:
    print('Happy New Year:', x)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

**Looking inside Lists**

Just like strings, we can get at any single element in a List using an index specified in square brackets

In [25]:
friends = ['Joseph', 'Glenn', 'Sally'] # where Joseph = 0, Glenn = 1, Sally = 2
print(friends[1])

Glenn

**Lists are Mutable**

Strings are immutable - meaning we cannot change the contents of a string. We must make a new string to make any change(s)

Lists on the other hand are Mutable - meaning we can change an element of a list using the index operator.

In [26]:
fruit = 'Banana'
fruit[0] = 'b'
# you will get an error beacuse strings are immutable

TypeError: 'str' object does not support item assignment

In [27]:
x = fruit.lower()
print(x)

banana

In [28]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [29]:
lotto[2] = 28
print(lotto)
# here, we ask python to re-assign the figure in position 2 i.e 26 to 28

[2, 14, 28, 41, 63]

**How long is a List?**

The len() function takes a list as a parameter and returns the number of elements in the list.

Actually, len() tels us the number of elements of any set or sequence.

In [30]:
greet = 'Hello Bob'
print(len(greet)) # len tells us how many items there are

9

In [31]:
x = [1, 2, 'joe', 99]
print(len(x))

4

**Using the range function**

The range function returns a list of numbers that range from zero to one less than the parameter.

We can construct an index loop using for and an integer iterator.

In [35]:
print(range(4)) 
# this returns the numbers from 0 - upto but not including 4

range(0, 4)

In [33]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))
# there are 3 friends in the list

3

In [34]:
print(range(len(friends))) # range and len gives 0, 1, 2

range(0, 3)

A tale of two loops...

In [37]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [39]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [40]:
print(range(len(friends))) # 0, 1, 2

range(0, 3)

In [41]:
for i in range(len(friends)):
    friend = friends[i]
    print('Happy New Year:', friend)
# the i variable went through the positions 0 thru 2

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally